{% extends 'App1/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center;">Register Form</h1>
    <form method="post" class="jumbotron" style="margin: 2% 30%;width: 50%;">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Register" class="btn btn-success">

        <br>
        <div style="margin: 0% 0%;" ><h6>Already register? <a href="{% url 'login' %}">login Here...</a></h6></div>
    </form>
</div>
{% endblock %}
