{% extends 'App1/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>About Us</title>
{% endblock %}


{% block content %}
<h3>We Offer Following Services:</h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<ul>
    <li>Software Development</li><br>
    <li>Web Development</li><br>
    <li>Mobile Development</li><br>
    <li>Cloud Infrastructure</li><br>
    <li>IT Consulting</li><br>
    <li>Support and Maintenance</li><br>
    <li>Corporate Trainings</li><br>
    <li>Digital Transformation</li>

</ul>
{% endblock %} 